*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.header-container{
    display: flex;
    background-color: rgba(128, 128, 128, 0.13);
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.navitem{
 display: flex;
 gap: 3rem;
 color: gray;
}
.navitem a{
  color: gray;
}  
.username-container{
    background-color: rgba(102, 199, 248, 0.263);
    padding: 1rem 1rem;
    border-radius: 0.7rem;
}
.username-container a{
    color:rgb(43, 149, 255);
    font-weight: bold;
}

.hero-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   
}
.left-hero-box{
    flex-basis: 50%;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  

}
.left-box-heading{
    font-weight: bold;
    font-size: 2rem;
      line-height: 4rem;
}
.heading1{
    color: rgb(70, 68, 68);
}
.heading2{
      color:rgb(43, 149, 255);
  
}
.left-hero-para{
    color: rgba(128, 128, 128, 0.766);
    font-size: 1.2rem;
    line-height: 2rem;
}
.booking-btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color:rgb(43, 149, 255) ;
    color: #fff;
    font-weight: bold;
}
.right-hero-box{
    display: flex;
    flex-basis: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50%;
}
.hero-img{
    width: 80%;
    height:50% ;

}
@media only screen and (max-width:786px) {
    .hero-section{
        flex-direction: column;
    }
    .left-hero-box{
        width: 100%;
    }
    .right-hero-box{
        width: 100%;
    }
}
.service-overview-section{
    background-color:rgb(43, 149, 255) ;
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.service-overview-section h2 ,h3{
    font-size: 2rem;
}
.service-overview-details p{
    font-weight: bold;
}
.service-overview-details{
    display: flex;
    gap: 5rem;
}
.service-section{
    background-color: #dddddda5;
    display: flex;
    padding: 1rem;
    gap: 20px;
}
.left-box{
    flex-basis: 60%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.left-box-header p{
    color: #747474;
}
.left-box-header::after{
    display: block;
    height: 2px;
    background-color: #ddd;
    content: " ";
    width: 100%;
    margin-top:10px ;
}
.service-items-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    margin-top: 10px;
}
.service-items button{
  display:flex ;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  float: right;
  padding:0.5rem 2rem;
  border: none;
  background-color:#eaeaea ;
  font-weight: bold;
  border-radius: 10px;
}

.service-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-items button.active {
    background-color: #ff4d4d;
    color: #fff;
}
.service-items-left{
    display: flex;
    gap: 5px;
}

.service-items span{
    font-weight: bold;
}
.rupee-num{
    color: rgb(43, 149, 255);
}
.left-box-footer{
    display: flex;
    color: rgb(43, 149, 255);
    gap: 1rem; 
    align-items:center;
    margin-top: auto;
}
.right-box{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-box-top{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #ddd;
}
.right-box-top-header{
    text-align: center;
    padding-bottom: 1rem;
    padding: 2rem;
}
.right-box-top-title{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.right-box-top-title-left{
    display: flex;
    gap: 3rem;
}
.right-box-top-details{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 90%;
    border-top: 2px solid #ddd;
    color: #a8a8a8;
}

.right-box-top-details-left{
    display: flex;
    gap: 4.5rem;
}
.service-cart{
    height: 200px;
}
.empty-active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty-box-hidden{
    display: none;
}
.empty-box {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
}
.empty-active h3{
    font-size: 1rem;
}
.empty-box h4{
    font-size: 0.7rem;
}
.service-cart.empty-active .empty-box {
  display: flex;
}

.right-box-top-total{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

    border-top: 2px solid #ddd;
    padding: 1rem;
    font-weight: bold;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}
.right-box-bottom{
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#fname{
    width: 100%;
}
.ep-div{
    display: flex;
    justify-content: space-around;
}
.right-box-bottom input{
    padding: 0.5rem;
    border-radius: 5px;
    border:2px solid #ddd;
    margin-top: 5px;
    width:15rem ;
}
.book-btn{
    padding: 1rem;
    border-radius: 6px;
    border: none;
    background-color: royalblue;
    color: #fff;
    font-weight: bolder;
}
.booking-text {
  color: green;
  margin-top: 10px;
  display: none;
}

.quility-disc-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.quility-disc-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
}
.quility-disc-box ion-icon {
    font-size: 400%;
}
.quility-disc-box h5{
    font-size: 100%;
}
.quility-disc-box span{
    color: #747474;
}
.subscribe-section{

}
.subscribe-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    background-color:rgb(43, 149, 255);
    padding: 2rem;
    margin-top: 50px;
}
.sub-left-box{
    padding-left:1rem;
}
.sub-left-box h2{
    font-size: 4rem;
    color: #fff;
}
.sub-right-box{
    padding: 1rem;
    
}
.sub-right-box input{
    background-color: rgb(118, 182, 246);
    padding: 0.5rem;
    border:none;
    color: whitesmoke;
    margin-top: 5px;
    width:17rem ;
    height: 3.5rem;
    margin-left: 20px;
     margin-bottom: 10px;
}
.sub-right-box input::placeholder{
    color: whitesmoke;
}
.sub-right-box button{
    background-color: #fff;
    padding: 0.5rem;
    border:none;
    color:rgb(43, 149, 255);
    font-weight: bold;
    margin-top: 5px;
    width:17rem ;
    height: 3.5rem;
    margin-left: 20px;
   
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #ddd;
    padding: 3rem;
    gap: 100px;
   
}
.footer-container h3{
    font-size: 1rem;
    padding-bottom: 1rem;
}
.about-footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links-footer-container li{
    list-style: none;
}

.links-footer-container a{
    color: #747474;
    font-weight: 500;
}
